<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kclgroup.backend.mapper.StockInfoMapper">

    <resultMap id="BaseResultMap" type="com.kclgroup.backend.pojo.entity.StockInfo">
            <id property="stockCode" column="stock_code" jdbcType="CHAR"/>
            <result property="stockName" column="stock_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        stock_code,stock_name
    </sql>
</mapper>
